$primary-color: rgba(173, 255, 47, 1);
$secondary-color: rgba(112,93,86, 1);

$text-color: rgba(51,51,51, 1);

$background-primary-color: rgba(255,178,102, 1);
$background-secondary-color: rgba(213,226,226, 1);
